/* .header {
    position: fixed;
    top: 0;
    left: 0;
} */

.header__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: black;
}

.header__logo {
    margin: 12px 5px 12px 20px;
}

.header__logo>img {
    vertical-align: middle;
}

.header__search {
    text-align: center;
}

.header__search>input {
    font-size: 18px;
    padding: 7px 15px;
    width: clamp(250px, 30vw, 550px);
    border-radius: 5px;
    border: none;
}

.header__search>input::placeholder {
    color: black;
}

.header__nav>ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
}

.header__nav li {
    margin-right: 20px;
}

.header__nav a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    /* padding: 8px 15px; */
}

.header__nav button {
    font-size: 18px;
    color: white;
    border: none;
    background-color: transparent;
    line-height: 30px;
    cursor: pointer;
}

.header__nav__login>a,
.header__nav__mypage>a {
    line-height: 32px;
    /* vertical-align: bottom; */
}

.header__nav__sell>a {
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    padding: 8px 15px;
}

.header__nav form {
    /* height: 100%; */
}


@media(max-width:1000px) {
    .header__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .header__logo>img {
        max-width: 100%;
    }

    .header__search {
        grid-column: 2/3;
        grid-row: 1;
    }

    .header__search>input {
        width: 90%;
        font-size: 16px;
        padding: 7px 5px;
    }

    .header__nav {
        grid-column: 1/3;
        grid-row: 2;
        margin-left: 20px;
    }

    .header__nav>ul {
        justify-content: left;
    }

    .header__nav li {
        margin-right: 10px;
    }

    .header__nav a,
    .header__nav button {
        font-size: 16px;
    }
}
