.detail__wrapper {
    margin-top: 50px;
    display: flex;
}

.left-container {
    flex: 1;
}

.item-image {
    margin: 10px 3% 0 auto;
    width: 80%;
    height: auto;
    background-color: gray;
    display: block;
    position: relative;
}

.item-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.item-image-sold {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 80px;
    letter-spacing: 8px;
    -webkit-text-stroke: 1px white;
}

.right-container {
    flex: 1;
}

.right-container__inner {
    width: 80%;
    margin: 0 auto 0 3%;
}

.item-message {
    text-align: center;
}

.item-message>p {
    color: red;
    font-size: 30px;
    margin-bottom: 20px;
}

.item-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.item-brand {
    font-size: 16px;
    margin-bottom: 20px;
}

.item-price {
    font-size: 22px;
    margin-bottom: 20px;
}

.item-price>span {
    font-size: 28px;
}

.counters {
    display: flex;
}

.counter {
    margin-left: 40px;
    margin-bottom: 15px;
}

.counter-icon {
    height: 30px;
    margin-bottom: 5px;
}

.counter-icon a {
    display: block;
    width: 100%;
    height: 100%;
}

.counter-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* .counter-icon img.liked {
    background-color: orange;
} */

.counter-value {
    text-align: center;
}

.purchase {
    margin-bottom: 30px;
}

.purchase>a {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

.item-subtitle {
    font-size: 22px;
    margin-bottom: 20px;
}

.item-description {
    font-size: 1rem;
    margin-bottom: 30px;
}

.item-info {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.item-info tr {
    /* height: 50px; */
    line-height: 35px;
}

.item-info th {
    width: 120px;
}

.item-info tr:last-of-type td {
    padding-left: 30px;
}

.item-info span {
    background-color: rgb(199, 192, 192);
    padding: 0px 20px;
    border-radius: 15px;
    display: inline-block;
    line-height: 30px;
}

.item-info span:not(:last-of-type) {
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user-image {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.user-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
}

.user-comment {
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: rgb(230, 230, 230);
    padding: 1rem 0.5rem;
    white-space: pre-wrap;
}

.item-subtitle2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.post-comment {
    margin-bottom: 80px;
}

.post-comment>textarea {
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}

.post-comment>button {
    padding: 3.5px;
    font-size: 22px;
    border: none;
    width: 100%;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.error {
    color: red;
}

.error>ul {
    list-style-type: none;
}

@media(max-width:1000px) {
    .detail__wrapper {
        margin-top: 20px;
        flex-direction: column;
    }

    .left-container {
        margin: 0 auto 20px;
    }

    .right-container__inner {
        margin: 0 auto;
    }

    .item-image {
        margin: 0 auto;
    }
}
