.sell__wrapper {
    margin: 50px auto 0;
    text-align: center;
    width: 50%;
    max-width: 700px;
    font-size: 18px;
    font-weight: bold;
}

.sell__title {
    font-size: 30px;
    margin-bottom: 30px;
}

.form-group-image {
    text-align: left;
    margin-bottom: 50px;
    /* display: flex; */
    /* align-items: center; */
}

.image-select__container {
    height: 100px;
    border: 1px solid black;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group-image .image-title {
    display: inline-block;
    margin-bottom: 7px;
}

.form-group-image .image-select {
    /* margin-top: 10px; */
    display: block;
    width: 112px;
    height: 18px;
    /* margin: auto; */
    font-size: 16px;
    border-radius: 7px;
    border: 2px solid red;
    padding: 7px 15px;
    color: red;
    cursor: pointer;
}

.form-group-image>input {
    display: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* .form-group:nth-of-type(-n+4) {
    margin-bottom: 40px;
} */

/* .form-group:nth-of-type(5) {
    margin-bottom: 60px;
} */

.form-group>h4 {
    margin-bottom: 7px;
}

.form-group>input,
.form-group>button {
    padding: 10px 15px;
    border-radius: 5px;
}

.form-group>input {
    font-size: 18px;
    border: 1px solid black;
}

.form-group>button {
    font-size: 22px;
    font-weight: bold;
    border: none;
    background-color: rgba(255, 85, 85, 1);
    ;
    color: white;
    cursor: pointer;
}

@media(max-width:1000px) {
    .sell__wrapper {
        width: min(500px, 90vw);
    }
}
